# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
pip-wheel-metadata/
pydoc_data/
demo/
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
data/
checkpoints/logs
checkpoints/
yolov8n.pt
data.zip
*.zip
docs/
.gemini/
.idea/
.vscode/
config_test/
ground_truth_encoder/
# Jupyter Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
